<div class="container home" style="padding-bottom: 20px;">
    <h3 class="text-center" style="margin-top: -20px;">{{title}}</h3>
    <div class="row productData mx-auto">
        {{#each data}}

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cards" style="padding-bottom: 10px;">
            <div class="card w-250 h-350 cardSize">
                <a href="/products/{{this.id}}" class="cardTextParent">
                    <img class="card-img-top productImage" src="{{this.pic}}">
                    <div class="">
                        <h5 class="card-title text-center cardText" style="margin-top:10px;">{{this.product_name}}</h5>
                    </div>
                    <h6 class="card-body text-center cardText" style="margin-top: -20px; margin-bottom: -5px;">₱ {{this.price}}</h6>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<style>
    .home {
        width: 100%;
        text-align: center;
    }

    .cardText {
        color: rgb(61, 79, 93);
    }

    .cardText:hover,
    .cardTextParent:hover {
        text-decoration: none;
    }

    .cardSize:hover {
        transition: all 0.4s ease-in-out;
        box-shadow: 0 5px 10px rgba(76, 102, 119);
    }

    .productImage {
        min-height: 245px;
    }

    .cardSize {
        min-height: 350px;
        max-height: 545px;
    }
</style>