<div class="container jumbotron products">
    {{#each data}}
    <h3 class="text-center">{{this.product_name}}</h3>

    <div class="col-12 mx-auto wholeCard">
        <div class="card bg-light text-dark center">
            <img class="card-img-top" src="{{this.pic}}" alt="">

            <div class="card-body">
                <h5 class="card-title">Brand: {{this.brand_name}}</h5>
                <h5 class="card-title">₱ {{this.price}}</h5>
                <p class="card-text">
                    <h6 class="card-title">Warranty valid for {{this.warranty}} year/s</h6>
                </p>
                <p>
                    <h6 class="card-title">{{this.category_name}}</h6>
                </p>
                <h6 class="card-title">{{this.product_description}}</h6>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="container jumbotron product_order">
    <h4>Order Request Form</h4>

    {{#each data}}
    <form method="POST" action="{{this.id}}/send">
        <div class="form-group">
            <label class="control-label" for="productid">Product ID</label>
            <div>
                <input id="product_id" name="product_id" type="text" value="{{this.id}}" class="form-control" required="" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="first_name">First Name *</label>
            <div>
                <input id="first_name" name="first_name" type="text" placeholder="Eisen Danielle" class="form-control" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="first_name">Middle Name *</label>
            <div>
                <input id="middle_name" name="middle_name" type="text" placeholder="Filler" class="form-control" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="last_name">Last Name *</label>
            <div>
                <input id="last_name" name="last_name" type="text" placeholder="Fiesta" class="form-control" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="email">Email *</label>
            <div>
                <input id="email" name="email" type="text" placeholder="eisen1021@gmail.com" class="form-control" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="street">Street *</label>
            <div>
                <input id="street" name="street" type="text" placeholder="Kapiligan Street" class="form-control" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="municipality">Municipality *</label>
            <div>
                <input id="municipality" name="municipality" type="text" placeholder="Quezon City" class="form-control" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="province">Province *</label>
            <div>
                <input id="province" name="province" type="text" placeholder="NCR" class="form-control" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="zipcode">Zip Code *</label>
            <div>
                <input id="zipcode" name="zipcode" type="text" placeholder="1113" class="form-control" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="quantity">Quantity *</label>
            <div>
                <input id="quantity" name="quantity" type="number" placeholder="2" class="form-control" required="">
            </div>
        </div>

        <div class="form-group submit">
            <div class="text-center">
                <button type="submit" class="btn submitButton" title="Submit order">
                    Submit
                </button>
            </div>
        </div>

    </form>
    {{/each}}
</div>


<style>
    .wholeCard {
        width: 50%;
        text-align: center;
    }

    .submit {
        padding-top: 10px;
        position: relative;
        max-width: 100%;
        text-align: end;
    }

    .submitButton:hover {
        transition: all 0.4s ease-in-out;
        box-shadow: 0 5px 10px rgba(76, 102, 119);
    }

    .submitButton {
        background: transparent;
        border: 2px solid rgb(61, 79, 93);
        color: rgb(61, 79, 93);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-size: 85%;
        list-style: none;
    }
</style>